<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRO</title>
</head>
<body>
          
        <form action="{% url 'cadastro' %}" method="POST"> {% csrf_token %}
            <h1>CADASTRO USUÁRIO</h1>
            <div class="inputbox" >
                <input type= "text" placeholder="Usuário..." name="username">
            </div>
            <br>
            <div class="inputbox" >
                <input type= "type" placeholder="E-Mail..." name="email">
            </div>
            <br>
            <div class="inputbox" >
                <input type= "password" placeholder="Senha..." name="senha">
            </div>
            <br>
            <input type="submit" value="Cadastrar">
                    
        </form>

        <body style="text-align:center"></body>

    
</body>
</html>