<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Leiloeiro</title>
</head>
<body>
    <h1>Área do Leiloeiro</h1>
    
    {% if user.is_authenticated %}
        <p>Bem-vindo, {{ user.username }}!</p>
    {% else %}
        <p>Você não está logado.</p>
    {% endif %}

    <ul>
        {% for anexo in anexos %}
            {% if user.id == anexo.id_leiloeiro.id %}
                <li>{{ anexo.id }} - {{ anexo.arquivo }}</li>            
            {% endif %}
        {% endfor %}
    </ul>

    {% if not anexos %}
    <p>Nenhum anexo encontrado.</p>
    {% endif %}

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-logout">Logout</button>
    </form>
    

</body>
</html>